.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input {
  font-size: 1rem;
}

.products-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill), minmax(150px, 1fr);
}
